@import "./reset.css";
@import "./variables.scss";
@import "./main_page.scss";
@import "./session.scss";
@import "./user_profile.scss";
@import "./questions.scss";
@import "./navbar.scss";

body {
    background-color: $body-bg-color;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body::-webkit-scrollbar {
    display: none;
}

.placeholder {
    height: 100vh;
    background-color: $body-bg-color;
}

.header {
    font-size: 30px;
}