.main-page {
    height: 190vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $body-bg-color;
    color: $text-color;
    background: linear-gradient(-45deg, #0719c2, #373F51, #6d7b9e, #3414eb);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;

    .main-page-content {
        font-family: 'Permanent Marker', cursive;
        font-size: 144px;
        top: 30vh;
        position: absolute;

        .main-page-about-link{
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            font-family: 'Didact Gothic', sans-serif;
        }
    }
    
    .arrow {
        position: sticky;
        top: 85vh;

        svg {
            width: 40px;
            height: 40px;
            animation: bounce 1.5s infinite;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
        width: 50px;
        height: 50px;
    }

    100% {
        transform: translateY(0);
        width: 40px;
        height: 40px;
    }
}