.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 0 0 2%;
    border-bottom: 1px solid $session-form-border-color;

    .auth-links {
        display: flex;
        align-items: center;
        height: 100%;

        > * {
            text-align: center;
            vertical-align: middle;
            border-left: 1px solid $session-form-border-color;
            padding: 0 10px;
            height: 100%;
            width: 75px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}