.question-container {
    width: 100vw;
    height: 90vh;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .question-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .question-text {
            font-size: 48px;
            height: 15%;
            width: 100%;
            margin-top: 80px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .answers-container {
            font-size: 32px;
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .answer-option-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                .answer-option {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75%;
                    height: 40%;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }

                .answer-option-mouse-enter {
                    animation: mouseenter 1.5s forwards;
                }

                .answer-option-mouse-leave {
                    animation: mouseleave 1.5s forwards;
                }

                @keyframes mouseenter {
                    0% {
                        font-size: 32px;
                    }

                    100% {
                        font-size: 52px;
                    }
                }

                @keyframes mouseleave {
                    0% {
                        font-size: 52px;
                    }

                    100% {
                        font-size: 32px;
                    }
                }
            }
        }

        .genre-question-text {
            font-size: 48px;
            height: 15%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .genre-answers-container {
            font-size: 24px;
            height: 65px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .genre-option-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 250px;

                .genre-option-button {
                    font-size: 18px;
                    margin: 0 15px;
                    width: 100%;
                    height: 40px;
                    background-color: white;
                    color: $body-bg-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 40px;
                    box-shadow: 0px 0px 30px #0f0e0f;

                    &:hover{
                        cursor: pointer;
                        animation: genrebuttonhover 0.4s forwards;
                    }
                }

                @keyframes genrebuttonhover {
                    0% {
                        background-color: white;
                    }

                    100% {
                        background-color: var(--bg-color);
                    }
                }
            }
        }

        .page-num-indicator {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;

            .question-number-dot {
                height: 6px;
                width: 6px;
                background-color: white;
                border-radius: 50%;
                margin: 3px;
            }

            .large-dot {
                height: 10px;
                width: 10px;
            }
        }
    }

    .questions-submit-button {
        font-size: 18px;
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    .playlist-preview-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .playlist-preview-heading{
            font-size: 48px;
            margin-top: 60px;
            animation: 2s slidein;
        }

        iframe {
            margin-top: 50px;
            animation: 3s slidein;
        }

        .save-playlist-prompt {
            font-size: 20px;
            padding: 30px 0 20px 0;
            animation: 4s slidein;
        }

        .save-playlist-button {
            font-size: 18px;
            width: 250px;
            height: 40px;
            border: none;
            border-radius: 40px;
            margin: 5px;
            animation: 4s slidein;

            &:hover {
                cursor: pointer;
            }
        }

        .try-again-button {
            font-size: 18px;
            width: 250px;
            height: 40px;
            border: none;
            border-radius: 40px;
            animation: 4s slidein;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@keyframes slidein {
    0% {
        transform: translateY(100vh);
    }
    
    100% {
        transform: translateY(0px);
    }
}

.choosen-answer {
    animation: appear 1.5s;
}

@keyframes appear {
    0% {
        font-size: 24px;
    }

    100% {
        font-size: 36px;
        transform: translateY(-50px);
    }
}

.other-answer {
    animation: disappear 1.5s;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.button-grow {
    animation: growbutton 0.5s;
}

@keyframes growbutton {
    0% {
        width: 0px;
        height: 0px;
        color: rgba(255, 255, 255, 0);
    }
    85% {
        width: 300px;
        height: 55px;
        color: rgba(255, 255, 255, 0);
    }
    100% {
        width: 250px;
        color: $body-bg-color;
    }
}

body {
	/* background: linear-gradient(-45deg, #0cbaba, #550052, #7a0076); */
	background: linear-gradient(-45deg, #0719c2, #373F51, #6d7b9e, #3414eb);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}