// body {
// 	background: linear-gradient(-45deg, #eec452, #e73c7e, #5823d5, #d5239a);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// 	/* height: 100vh; */
// }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.user-profile, .feed-page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    padding: 0px 130px;
    min-height: 86vh;


    .playlist-index {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 3;
        // margin-left: 20%;
        margin-right: 30px;
        padding: 20px;
        // background-color: rgb(44, 44, 44);
        border: 1px solid #34333b;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0px 0px 30px #0f0e0f;

        // background: linear-gradient(-45deg, #eec452, #e73c7e, #5823d5, #d5239a);
        // background-size: 400% 400%;
        // animation: gradient 15s ease infinite;

        .playlist-index-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px;
            
            iframe {
                box-shadow: 5px 4px 30px 0px #0f0e0f;
            }

            .playlist-options {
                display: flex;
                justify-content: space-around;
                margin: 15px 0px 15px 0px;
                
                .delete {
                    box-shadow: 12px 8px 30px 0px #0f0e0f;
                    background-color: white;
                    color:#0f0e0f;
                    padding: 10px;
                    border-radius: 5px;
                    margin-right: 10px;
                    box-shadow: 0px 0px 20px -5px #0f0e0f;
                }
                .delete:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                }

                .spotify-export-container {
                    position: relative;
                }
                
                .spotify-export {
                    box-shadow: 12px 8px 30px 0px #0f0e0f;
                    background-color: rgb(30,215,96);
                    color:white;
                    padding: 10px;
                    border-radius: 5px;
                    margin-left: 10px;
                    display: relative;
                    box-shadow: 0px 0px 20px -5px #0f0e0f;
                }
                
                .spotify-export:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                }

                .spotify-modal {
                        display: none;
                        position: absolute;
                        height:300px;
                        width: 300px;
                        padding: 20px;
                        line-height: 1.5;
                        background-color: rgb(24,24,27);
                        border: 1px solid #34333b;
                        top: 50px;
                        left: 10px;
                        svg {
                            font-size: 60px;
                        }
                }
                .spotify-modal.clicked {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                }
                    
            }
        }
    }

    .user-details-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: fit-content;
        max-width: fit-content;
        height: 280px;
        border: 1px solid #34333b;
        box-shadow: 0px 0px 30px #0f0e0f;
        border-radius: 10px;
        // background-color: rgba(255, 255, 255, 0.02);
        padding: 20px;
        margin-left: 20px;

        // background: linear-gradient(-45deg, #eec452, #e73c7e, #5823d5, #d5239a);
        // background-size: 400% 400%;
        // animation: gradient 15s ease infinite;

        .user-profile-photo-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            > * {
                margin: 0 0 5% 0;
            }

            .user-photo {
                border-radius: 50%;
                color: lightgrey;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .followers-options {
                display: flex;
                justify-content: flex-start;

                > * {
                    padding: 0 10px 0 0;
                }
            }
            
            .share-buttons {
                display: flex;
                justify-content: space-around;
                width: 120px;

                
                #facebook-share {
                        :hover {
                            // color:linear-gradient(120deg, #3b5998, #FFFFFF);
                            color:rgb(14,113,230);
                            background-color: white;
                            border-radius: 10px;
                        }
                    }
                #twitter-share {
                    :hover {
                        color:rgb(27,153,238);
                    }
                }
                #linkedin-share {
                        :hover {
                            color:rgb(11,102,194);
                            background-color: white;
                            border-radius: 4px;
                            height: 20px;
                            width: 20px;
                        }
                    }

                .react-share__ShareButton {
                    height: 20px;
                    width: 20px;
                    margin: 10px 0px 10px 0px;
                    
                    :hover {
                        cursor: pointer;
                    }

                    svg {
                        font-size: 20px;
                    }
                }
            }
            
            button {
                background-color: #3205a4;
                border: 1px solid #34333b;
                border-radius: 10px;
                width: 100px;
                height: 30px;
                color: white;

                &:hover {
                    cursor: pointer;
                    background-color: #4107d2;
                }
            }
        }
    }
}